
body{
  span{
    line-height: 1.5rem;
    font-weight: $font-reg;
    font-size: 18px;
    font-family: $font-reg;
    font-size: $fs-p;
    line-height: $lh-p;
  }
  
}


.shows-section {
  padding: 1rem;
  padding-bottom: 2rem;

  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the start by default */
  }

  &__date{
    font-weight: bold;
    font-weight: $font-reg;
  }

  &__venue,
  &__location,
  &__date {
    font-weight: $font-reg;
    font-size: 18px;
    line-height: 1.5rem;
    padding-bottom: 0.5rem;
    
  }

  &__label {
    color: $primary-silver;
    font-weight: $font-demi;
    display: flex;
    flex-direction: column;
    line-height: 24px;
    
    
    
  }

  &__header {
    display: none;
    font-size:14px;
    padding-bottom: 1rem;
    
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__button {
    align-self: flex-start;
    margin-top: 0.25rem;
    padding: 0.5rem 1rem;
    background-color: $primary-band-site-black;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
    

    &:hover {
      color: $primary-white;
      background: $secondary-band-site-dark-black;
      cursor: pointer;
    }

   @include tablet {
      width: auto;
      
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    border-bottom: 1px solid $secondary-mercury;

    
   
  }

  @include tablet {
    &__header {
      display: flex;  
      justify-content: space-between;
      font-weight: bold;
      color: $primary-silver;
      padding-left: 1rem;

      &-item {
        &:last-child {
          visibility: hidden;
        }
      }
    }

    &__title {
      padding-left: 1rem;
    }

    &__label {
      display: none;
    }

    &__list {
      flex-direction: column;
    }

   

    &__item {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;

      &-detail {
        flex-direction: column;
        flex: 1;
        margin-bottom: 0;
        padding-left: 1rem;

        &__venue,
      &__location,
      &__date {
        width: 50%;
        align-items: left;
        
      }

       
      }

      &__button {
        align-self: flex-end;
        width: auto;
        padding: 0.5rem 1rem;
        font-size: 16px;
        
      }
    }
  }

  @include desktop {
    &__title {
      padding-left: 8.5rem;
    }
    &__wrapper{
      padding-left: 22rem;
    }
  }
}

