/*primary colors*/
$band-site-black: #323232;
$silver: #afafaf;
$white: #ffffff;
$light-grey: #f7f7f7;
/*secondary colors*/
$band-site-dark-black: #000000;
$mercury: #e1e1e1;
$alabaster: #fafafa;




