/*primary colors*/
/*secondary colors*/
@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url("../assets/fonts/AvenirNextLTPro-It.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-It.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
:root {
  --fs-h1: 24px;
  --tw-h1: 700;
  --lh-h1: 32px;
  --fs-h3: 14px;
  --tw-h3: 600;
  --lh-h3: 22px;
  --fs-p: 13px;
  --tw-p: 400;
  --lh-p: 18px;
  --font-bold: "Avenir Next Bold";
  --font-reg: "Avenir Next Regular";
  --font-demi: "Avenir Next Demi";
  --padding-before-headline: 24px;
  --padding-after-headline: 16px;
  --padding-between-component: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}
body h1, body h2 {
  font-family: var(--font-bold);
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
}
body h3 {
  font-family: var(--font-demi);
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
}
body p {
  font-family: var(--font-reg);
  font-size: var(--fs-p);
  line-height: var(--lh-p);
}
body a {
  font-family: var(--font-reg);
}
@media (min-width: 768px) {
  body h1 {
    font-family: var(--font-bold);
    font-size: 60px;
    line-height: 68px;
  }
  body h2 {
    font-family: var(--font-bold);
    font-size: 36px;
    line-height: 44px;
  }
  body h3 {
    font-family: var(--font-demi);
    font-size: 24px;
    line-height: 32px;
  }
  body p {
    font-family: var(--font-reg);
    font-size: 14px;
    line-height: 22px;
  }
}

.navigation {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #323232;
  color: #afafaf;
  align-items: center;
}
.navigation__logo-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.navigation__logo-image {
  max-width: 7.5rem;
  max-height: 20px;
  margin-bottom: 0.5rem;
}
.navigation__menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0.5rem;
  width: 100%;
}
.navigation__menu-item {
  width: 50vw;
  text-align: center;
  border-bottom: 0.2125rem solid transparent;
}
.navigation__menu-item-link {
  text-decoration: none;
  display: block;
  padding-bottom: 0.44rem;
}
.navigation__menu-item-link:hover {
  border-bottom: 0.4125rem solid #ffffff;
}
.navigation__menu-item #active {
  color: #ffffff;
  border-bottom: 0.4125rem solid #ffffff;
}
@media (min-width: 768px) {
  .navigation {
    flex-direction: row;
  }
  .navigation__logo-container {
    margin-top: 0px;
  }
  .navigation__logo-image {
    width: 7.5rem;
    margin-bottom: 0rem;
    margin-left: 1.5rem;
  }
  .navigation__menu {
    justify-content: left;
    margin-top: 0px;
    height: 5rem;
    align-items: center;
  }
  .navigation__menu-item {
    display: flex;
    align-items: center;
    text-align: center;
    height: 5rem;
    width: 5rem;
    border-bottom: unset;
    margin-left: 3.5rem;
  }
  .navigation__menu-item-link {
    width: 5rem;
    display: block;
    margin-top: 0.7125rem;
    padding-bottom: 1.4rem;
    padding-top: 1.5rem;
    border-bottom: 0.4125rem solid transparent;
  }
}
@media (min-width: 1200px) {
  .navigation__logo-container {
    margin-top: 0px;
  }
  .navigation__logo-image {
    width: 7.5rem;
    margin-bottom: 0rem;
    margin-left: 11.25rem;
    margin-right: 1.75rem;
  }
  .navigation__menu {
    justify-content: left;
    margin-top: 0px;
  }
  .navigation__menu-item {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    border-bottom: unset;
  }
  .navigation__menu-item-link {
    border-bottom: 0.4125rem solid transparent;
  }
}

/* Hero section styles */
.hero {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero__image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.5);
  display: flex;
  align-items: center;
  padding: 2rem;
  z-index: 1;
}
.hero .hero__title {
  color: #fff;
  font-size: 2rem;
  text-align: left;
  z-index: 2;
}
@media (min-width: 1200px) {
  .hero .hero__title {
    padding-left: 8.5rem;
  }
}

/* About Section */
.about {
  background-color: #fff;
  padding: 0 1rem;
  box-sizing: border-box;
}
.about .about__title {
  text-align: left;
  padding-top: var(--padding-before-headline);
  padding-bottom: var(--padding-after-headline);
  padding-left: 1rem;
}
.about .about__content-wrapper {
  padding: 0;
}
.about .about__image {
  width: 100%;
  height: auto;
  margin: 1rem auto;
  display: block;
}
.about .about__quote {
  margin: 1rem 0;
  font-family: var(--font-bold);
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
}
.about .about__info {
  display: flex;
  flex-wrap: wrap;
}
.about .about__subtitle {
  margin-bottom: 1rem;
  text-align: left;
  font-family: var(--font-reg);
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
  padding-top: 1rem;
}
.about .about__description {
  text-align: left;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .about .about__content-wrapper {
    padding: 0 3rem;
  }
  .about .about__info {
    flex-direction: row;
  }
  .about .about__description {
    flex: 1;
    margin-right: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .about .about__title {
    padding-left: 8.5rem;
  }
  .about .about__content-wrapper {
    padding: 0 13rem;
  }
}

/* Gallery Section */
.gallery {
  background-color: #f7f7f7;
  box-sizing: border-box;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.gallery__title {
  margin-bottom: 1rem;
  text-align: left;
  padding-top: var(--padding-before-headline);
  padding-bottom: var(--padding-after-headline);
}

.gallery__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.gallery__image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .gallery {
    padding: 0 2rem;
  }
  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .gallery {
    padding: 0 5rem;
  }
  .gallery__title {
    padding-left: 4.5rem;
  }
  .gallery__grid {
    padding-left: 4.5rem;
  }
}
.footer {
  background-color: #323232;
  color: #fafafa;
  padding: 24px 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin: 0;
}
.footer .footer__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  position: relative;
  padding: 0 1rem;
}
.footer .footer__logo {
  margin-top: 34px;
  display: block;
  position: static;
}
.footer .footer__logo-link img {
  max-width: 120px;
  max-height: 20px;
}
.footer .footer__title {
  padding-bottom: var(--padding-after-headline);
  color: #fafafa;
  font-weight: var(--font-demi);
}
.footer .footer__social-media {
  display: flex;
  justify-content: left;
  gap: 30px;
  padding-bottom: var(--padding-between-component);
}
.footer .footer__social-icon img {
  width: auto;
  height: 23px;
}
.footer .footer__contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: var(--padding-between-component);
}
.footer .footer__contact-title {
  font-family: var(--font-reg);
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
  padding-bottom: var(--padding-between-component);
}
.footer .footer__contact-info {
  text-align: left;
  color: #fafafa;
}
.footer .email {
  display: block;
  padding-top: 10px;
}
.footer .email a {
  color: #fafafa;
  text-decoration: none;
  padding-top: 16px;
}
.footer .footer__copyright {
  color: #fafafa;
  padding-top: var(--padding-between-component);
  text-align: left;
}
@media (min-width: 768px) {
  .footer .footer__container {
    padding: 0 1rem;
  }
  .footer .footer__contact {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .footer .footer__content {
    display: flex;
    justify-content: space-around;
  }
  .footer .footer__social-media {
    margin-left: 20px;
    margin-top: 0.8rem;
  }
  .footer .footer__logo {
    position: absolute;
    top: 16px;
    right: 16px;
    margin-top: -10px;
  }
}
@media (min-width: 1200px) {
  .footer .footer__container {
    padding: 0 8.5rem;
  }
  .footer .footer__logo {
    padding-right: 3rem;
  }
}/*# sourceMappingURL=bio.css.map */