@use 'partials/variables' as *;
@use 'partials/typography' as *;


.page-header {
  font-family: 'Avenir Next Bold';
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.section-header {
  font-family: 'Avenir Next Bold';
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.subheader {
  font-family: 'Avenir Next Demi';
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.body-copy {
  font-family: 'Avenir Next Regular';
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}


.footer-copy {
  font-family: 'Avenir Next Regular';
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.label-text {
  font-family: 'Avenir Next Bold';
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
}
.button-text {
  font-family: 'Avenir Next Bold';
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
}
