/*primary colors*/
/*secondary colors*/
@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.navigation {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #323232;
  color: #afafaf;
  align-items: center;
}
.navigation__logo-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.navigation__logo-image {
  max-width: 7.5rem;
  max-height: 1.25rem;
  margin-bottom: 0.5rem;
}
.navigation__menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0.5rem;
  width: 100%;
}
.navigation__menu-item {
  width: 50vw;
  text-align: center;
  border-bottom: 0.2125rem solid transparent;
}
.navigation__menu-item-link {
  text-decoration: none;
  display: block;
  padding-bottom: 0.44rem;
  color: #ffffff;
}
.navigation__menu-item-link:hover {
  border-bottom: 0.4125rem solid #ffffff;
}
.navigation__menu-item #active {
  color: #ffffff;
  border-bottom: 0.4125rem solid #ffffff;
  font-weight: bold;
}
@media (min-width: 768px) {
  .navigation {
    flex-direction: row;
  }
  .navigation__logo-container {
    margin-top: 0rem;
  }
  .navigation__logo-image {
    width: 7.5rem;
    margin-bottom: 0rem;
    margin-left: 1.5rem;
  }
  .navigation__menu {
    justify-content: left;
    margin-top: 0rem;
    height: 5rem;
    align-items: center;
  }
  .navigation__menu-item {
    display: flex;
    align-items: center;
    text-align: center;
    height: 5rem;
    width: 5rem;
    border-bottom: unset;
    margin-left: 3.5rem;
  }
  .navigation__menu-item-link {
    width: 5rem;
    display: block;
    margin-top: 0.7125rem;
    padding-bottom: 1.4rem;
    padding-top: 1.5rem;
    border-bottom: 0.4125rem solid transparent;
  }
}
@media (min-width: 1200px) {
  .navigation__logo-container {
    margin-top: 0rem;
  }
  .navigation__logo-image {
    width: 7.5rem;
    margin-bottom: 0rem;
    margin-left: 11.25rem;
    margin-right: 1.75rem;
  }
  .navigation__menu {
    justify-content: left;
    margin-top: 0px;
  }
  .navigation__menu-item {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    border-bottom: unset;
  }
  .navigation__menu-item-link {
    border-bottom: 0.4125rem solid transparent;
  }
}

.footer {
  background-color: #323232;
  color: #fafafa;
  padding: 1.5rem 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin: 0;
}
.footer__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  position: relative;
  padding: 0 0rem;
}
.footer__logo {
  margin-top: 2.125rem;
  display: block;
  position: static;
}
.footer__logo-link img {
  max-width: 7.5rem;
  max-height: 1.25rem;
}
.footer__title {
  padding-bottom: 16px;
  color: #fafafa;
  font-weight: "Avenir Next Demi";
}
.footer__social-media {
  display: flex;
  justify-content: left;
  gap: 1.875rem;
  padding-bottom: 16px;
}
.footer__social-media-icon img {
  width: auto;
  height: 1.4375rem;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 16px;
}
.footer__contact-title {
  font-family: "Avenir Next Demi";
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 16px;
}
.footer__contact-info {
  text-align: left;
  color: #fafafa;
}
.footer__contact-info .email {
  display: block;
  padding-top: 0.625rem;
}
.footer__contact-info .email a {
  color: #fafafa;
  text-decoration: none;
  padding-top: 1rem;
}
.footer__copyright {
  color: #fafafa;
  padding-top: 16px;
  text-align: left;
}
@media (min-width: 768px) {
  .footer__container {
    padding: 0 1rem;
  }
  .footer__contact {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .footer__content {
    display: flex;
    justify-content: space-around;
  }
  .footer__social-media {
    margin-left: 1.25rem;
    margin-top: 0.8rem;
  }
  .footer__logo {
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin-top: -0.625rem;
  }
}
@media (min-width: 1200px) {
  .footer__container {
    padding: 0 8.5rem;
  }
  .footer__logo {
    padding-right: 3rem;
  }
}

body span {
  line-height: 1.5rem;
  font-family: "Avenir Next Regular";
  font-size: 18px;
  font-size: 13px;
  line-height: 18px;
}

.shows-section {
  padding: 1rem;
  padding-bottom: 2rem;
}
.shows-section__item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e1e1e1;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.shows-section__item:hover {
  background-color: pink;
  cursor: pointer;
}
.shows-section__item--selected {
  background-color: #afafaf;
  border: none;
}
.shows-section__title {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: left;
}
.shows-section__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.shows-section__date {
  font-weight: bold;
  font-weight: "Avenir Next Regular";
}
.shows-section__venue, .shows-section__location, .shows-section__date {
  font-weight: "Avenir Next Bold";
  font-size: 18px;
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
}
.shows-section__label {
  color: #afafaf;
  font-weight: "Avenir Next Demi";
  display: flex;
  flex-direction: column;
  line-height: 24px;
}
.shows-section__header {
  display: none;
  font-size: 14px;
  padding-bottom: 1rem;
}
.shows-section__list {
  display: flex;
  flex-direction: column;
}
.shows-section__button {
  align-self: flex-start;
  margin-top: 0.25rem;
  padding: 0.5rem 1rem;
  background-color: #323232;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  border-radius: 5px;
}
.shows-section__button:hover {
  color: #ffffff;
  background: #000000;
  cursor: pointer;
}
@media (min-width: 768px) {
  .shows-section__button {
    width: auto;
  }
}
.shows-section__item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e1e1e1;
}
@media (min-width: 768px) {
  .shows-section__header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #afafaf;
    padding-left: 1rem;
  }
  .shows-section__header-item:last-child {
    visibility: hidden;
  }
  .shows-section__title {
    padding-left: 1rem;
  }
  .shows-section__label {
    display: none;
  }
  .shows-section__list {
    flex-direction: column;
  }
  .shows-section__item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
  .shows-section__item-detail {
    flex-direction: column;
    flex: 1;
    margin-bottom: 0;
    padding-left: 1rem;
  }
  .shows-section__item-detail__venue, .shows-section__item-detail__location, .shows-section__item-detail__date {
    width: 50%;
    align-items: left;
  }
  .shows-section__item__button {
    align-self: flex-end;
    width: auto;
    padding: 0.5rem 1rem;
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .shows-section__title {
    padding-left: 8.5rem;
  }
  .shows-section__wrapper {
    padding-left: 22rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}
body h1,
body h2 {
  font-family: "Avenir Next Bold";
  font-size: 24px;
  line-height: 32px;
}
body h3 {
  font-family: "Avenir Next Demi";
  font-size: 14px;
  line-height: 22px;
}
body p {
  font-family: "Avenir Next Regular";
  font-size: 13px;
  line-height: 18px;
}
body a {
  font-family: "Avenir Next Regular";
}
@media (min-width: 768px) {
  body h1 {
    font-family: "Avenir Next Bold";
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
  body h2 {
    font-family: "Avenir Next Bold";
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  body h3 {
    font-family: "Avenir Next Demi";
    font-size: 1.5rem;
    line-height: 2rem;
  }
  body p {
    font-family: "Avenir Next Regular";
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

@media (min-width: 768px) {
  .navigation__logo-image {
    margin-left: 4.5rem;
  }
}
@media (min-width: 1200px) {
  .navigation__logo-image {
    margin-left: 9rem;
  }
}

/* Hero section styles */
.hero {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__big-title {
  padding-bottom: 1rem;
}
.hero__album-title {
  font-family: "Avenir Next Demi";
  padding: 1rem 0;
  line-height: 24px;
  margin-top: 2rem;
  font-size: 0.875rem;
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.5);
  display: flex;
  align-items: center;
  padding: 2rem;
  z-index: 1;
}
.hero__title {
  color: #ffffff;
  font-size: 2rem;
  text-align: left;
  z-index: 2;
}
@media (min-width: 768px) {
  .hero__album-title {
    font-size: 24px;
    padding-left: 2rem;
  }
  .hero__big-title {
    padding-left: 2rem;
    width: 65%;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1200px) {
  .hero {
    flex-direction: row;
  }
  .hero__title {
    display: flex;
    align-items: center;
  }
  .hero__title {
    width: 100%;
    margin-left: 5rem;
  }
  .hero__big-title {
    width: 85%;
  }
}

.soundcloud-embed {
  font-size: 10px;
  color: #cccccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Avenir Next Regular";
}

.soundcloud-iframe {
  width: 100%;
  height: 120px;
  margin-bottom: 2rem;
  border: none;
}
@media (min-width: 768px) {
  .soundcloud-iframe {
    width: 50%;
    height: 150px;
    padding-left: 32px;
  }
}
@media (min-width: 1200px) {
  .soundcloud-iframe {
    width: 60%;
    margin-top: 6rem;
  }
}

.soundcloud-embed a {
  color: #cccccc;
  text-decoration: none;
}/*# sourceMappingURL=shows.css.map */