@import "partials/variables";
@import "partials/typography";
@import "partials/mixins";
@import "partials/navigation";
@import "partials/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $secondary-alabaster;
  h1,
  h2 {
    font-family: $font-bold;
    font-size: $fs-h1;
    line-height: $lh-h1;
  }

  h3 {
    font-family: $font-demi;
    font-size: $fs-h3;
    line-height: $lh-h3;
  }

  p {
    font-family: $font-reg;
    font-size: $fs-p;
    line-height: $lh-p;
  }

  a {
    font-family: $font-reg;
  }

  @include tablet {
    h1 {
      font-family: $font-bold;
      font-size: 3.75rem;
      line-height: 4.25rem;
    }
    h2 {
      font-family: $font-bold;
      font-size: 2.25rem;
      line-height: 2.75rem;
    }
    h3 {
      font-family: $font-demi;
      font-size: 1.5rem;
      line-height: 2rem;
    }
    p {
      font-family: $font-reg;
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }
}

/* Hero section styles */
.hero {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.5);
    display: flex;
    align-items: center;
    padding: 2rem;
    z-index: 1;
  }

  &__title {
    color: $primary-white;
    font-size: 2rem;
    text-align: left;
    z-index: 2;
    // padding-left: 136px;
  }

  @include desktop {
    .hero__title {
      padding-left: 8.5rem;
    }
  }
}

/* About Section */
.about {
  background-color: $primary-white;
  padding: 0 1rem;
  box-sizing: border-box;

  &__title {
    text-align: left;
    padding-top: $padding-before-headline;
    padding-bottom: $padding-after-headline;
    padding-left: 1rem;
  }

  &__content-wrapper {
    padding: 0;
  }

  &__image {
    width: 100%;
    height: 10rem;
    margin: 1rem auto;
    display: block;
    object-fit: cover;
  }

  &__quote {
    margin: 1rem 0;
    font-family: $font-demi;
    font-size: $fs-h3;
    line-height: $lh-h3;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
  }

  &__subtitle {
    margin-bottom: 1rem;
    text-align: left;
    font-family: $font-demi;
    font-size: $fs-h3;
    line-height: $lh-h3;
    padding-top: 1rem;
  }

  &__description {
    text-align: left;
    margin-bottom: 1rem;
  }

  @include tablet {
    &__content-wrapper {
      padding: 0 3rem;
    }

    &__info {
      flex-direction: row;
    }

    &__image {
      height: 18rem;
    }

    &__description {
      flex: 1;
      margin-right: 1.5rem;
    }
  }
  @include desktop {
    &__title {
      padding-left: 8.5rem;
    }
    &__content-wrapper {
      padding: 0 13rem;
    }
  }
}
/* Gallery Section */
.gallery {
  background-color: $secondary-alabaster;
  box-sizing: border-box;
  padding: 0 1rem;
  margin-bottom: 2rem;

  &__title {
    margin-bottom: 1rem;
    text-align: left;
    padding-top: $padding-before-headline;
    padding-bottom: $padding-after-headline;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.3s ease;

    &:hover {
      filter: grayscale(0%);
    }
  }

  @include tablet {
    padding: 0 2rem;

    &__image {
      width: calc(33.33% - 0.67rem);
    }
  }

  @include desktop {
    padding: 0 5rem;

    &__title {
      padding-left: 4.5rem;
    }

    &__grid {
      padding-left: 4.5rem;
    }
  }
}
