@import "partials/variables";
@import "partials/typography";
@import "partials/mixins";
@import "partials/navigation";
@import "partials/footer";
@import "partials/events";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $secondary-alabaster;
  h1,
  h2 {
    font-family: $font-bold;
    font-size: $fs-h1;
    line-height: $lh-h1;
  }

  h3 {
    font-family: $font-demi;
    font-size: $fs-h3;
    line-height: $lh-h3;
  }

  p {
    font-family: $font-reg;
    font-size: $fs-p;
    line-height: $lh-p;
  }

  a {
    font-family: $font-reg;
  }

  @include tablet {
    h1 {
      font-family: $font-bold;
      font-size: 3.75rem;
      line-height: 4.25rem;
    }
    h2 {
      font-family: $font-bold;
      font-size: 2.25rem;
      line-height: 2.75rem;
    }
    h3 {
      font-family: $font-demi;
      font-size: 1.5rem;
      line-height: 2rem;
    }
    p {
      font-family: $font-reg;
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }
}

.navigation {
  @include tablet {
    &__logo-image {
      margin-left: 4.5rem;
    }
  }

  @include desktop {
    &__logo-image {
      margin-left: 9rem;
    }
  }
}

/* Hero section styles */
.hero {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__big-title {
    padding-bottom: 1rem;
  }

  &__album-title {
    font-family: $font-demi;
    padding: 1rem 0;
    line-height: 1.5rem;
    margin-top: 2rem;
    font-size: 0.875rem;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.5);
    display: flex;
    align-items: center;
    padding: 2rem;
    z-index: 1;
  }

  &__title {
    color: $primary-white;
    font-size: 2rem;
    text-align: left;
    z-index: 2;
  }
  @include tablet {
    &__album-title {
      font-size: 1.5rem;
      padding-left: 2rem;
    }
    &__big-title {
      padding-left: 2rem;
      width: 65%;
      padding-bottom: 2rem;
    }
  }

  @include desktop {
    flex-direction: row;

    &__title {
      display: flex;
      align-items: center;
    }

    &__title {
      width: 100%;
      margin-left: 5rem;
    }
    &__big-title {
      width: 85%;
    }
  }
}

.soundcloud-embed {
  font-size: .625rem;
  color: #cccccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: $font-reg;
}

.soundcloud-iframe {
  width: 100%;
  height: 120px;
  margin-bottom: 2rem;
  border: none;

  @include tablet {
    width: 50%;
    height: 9.375rem;
    padding-left: 2rem;
  }

  @include desktop {
    width: 60%;
    margin-top: 6rem;
  }
}

.soundcloud-embed a {
  color: #cccccc;
  text-decoration: none;
}
